// Rotation
@keyframes rotation {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

// Fade In
@keyframes fade-in {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

// Shimmer
@keyframes shimmer {

	0% {
		background-position: -500px 0;
	}

	100% {
		background-position: 500px 0;
	}
}
