// Variables
$color-red-1:   #E44141;
$color-red-2:   #E4414133;
$color-green-1: #28A745;
$color-green-2: #0DA75933;
$color-blue-1:  #0071F2;
$color-blue-2:  #034DA2;
$color-blue-3:  #F2F7FD;
$color-blue-4:  #1A82EA;
$color-gray-1:  #F3F4F5;
$color-gray-2:  #E5E7E9;
$color-gray-3:  #BFBFBF;
$color-gray-4:  #E8E8EB;
$color-gray-5:  #D0D1D7;
$color-gray-6:  #F0F0F0;
$color-white-1: #FFF;
$color-white-2: #F9F9F9;
$color-black-1: #141B38;
$color-black-2: #2C3338;
$color-black-3: #9CA9B3;
$color-black-4: #8C8F9A;
$color-black-5: #434960;

$radius-1: 4px;
$radius-2: 2px;

$shadow-1: 0 4px 40px rgba(39, 32, 120, 0.1);
$shadow-2: 0 9px 20px rgba(46, 35, 94, 0.07);
$shadow-3: rgba(0, 0, 0, 0.15) 0 8px 16px 0;
$shadow-4: rgba(89, 102, 122, 0.1) 0 0 20px 0;
