{
    "extends": [
        "plugin:@wordpress/eslint-plugin/esnext"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        "linebreak-style": ["error", "windows"],
        "no-console": "off",
        "no-undef": 0
    }   
}
