/**
 * Header.
 */
body.folded {

	.hd-header {
		left: 36px;
		width: calc(100% - 36px);
	}
}

.hd {

	// Header
	&-header {
		position: fixed;
		top: 32px;
		width: calc(100% - 160px);
		z-index: 999;

		&__component {
			padding: 10px 0;
			background-color: $clr-white;
		}

		&__shadow {
			position: absolute;
			bottom: -6px;
			width: 100%;
			height: 7px;
			background-size: contain;
		}

		&__navigation {
			display: none;
			position: absolute;
			top: 60px;
			right: 0;
			width: 280px;
			background-color: $clr-white;
			z-index: 999;

			&[data-state="active"] {
				display: block;
			}
		}

		&__navigation-btn {

			&[data-state="default"] {

				svg {

					&:first-child {
						display: block;
					}

					&:last-child {
						display: none;
					}
				}
			}

			&[data-state="active"] {

				svg {

					&:first-child {
						display: none;
					}

					&:last-child {
						display: block;
					}
				}
			}
		}
	}

	// Logo
	&-logo {
		width: 50px;
	}

	// Separator
	&-separator {
		margin: 0 5px;
		width: 20px;
	}

	// Content.
	&-content {
		margin-top: 120px;
	}

	@include media-960 {

		&-header {
			width: calc(100% - 30px);
		}
	}

	@include media-sm {

		&-header {
			top: 46px;
			width: 100%;
		}
	}

	@include media-600 {

		&-header {
			position: relative;
			top: 0;
		}

		&-content {
			margin-top: 50px;
		}
	}
}
