// Navigation
.hd-navigation {
	margin: 0;
	padding: 8px;
	background-color: $clr-white-1;
	border-radius: $br-radius-1;
	box-shadow: $shadow-1;
	z-index: 999;

	&__item {
		margin: 2px 0;
	}

	&__link {
		display: flex;
		align-items: center;
		padding: 10px;
		font-weight: 500;
		color: $clr-black-1 !important;
		border-radius: $br-radius-1;

		&:hover,
		&:focus,
		&[data-state="active"] {
			background-color: $clr-gray-1;
		}
	}

	svg {
		margin-right: 15px;
		width: 18px;
		height: 18px;
	}
}
