/**
 * Navigation.
 */
.hd {

	&-navigation {
		margin: 0;
		padding: 8px;
		border-radius: $br-radius;
		background-color: $clr-white;
		box-shadow: $shadow-2;
		z-index: 999;

		&__li {
			margin: 2px 0;
		}

		&__link {
			display: flex;
			align-items: center;
			padding: 8px;
			color: $clr-black !important;
			font-weight: 600;
			border-radius: $br-radius;

			&[data-state="active"] {
				background-color: rgba(242, 242, 242, 0.9);
			}

			&:hover,
			&:focus {
				background-color: rgba(242, 242, 242, 0.9);

				@include transition;
			}
		}

		.hd-circle-icon {
			margin-right: 15px;
		}
	}
}
