/**
 * Mixins.
 */

// Flex Center
@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

// Default List
@mixin default-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Transition
@mixin transition {
	transition: all 320ms ease-in-out 0s;
}
