/**
 * Variables.
 */
$clr-red: #f02848;
$clr-white: #fff;
$clr-black: #050506;
$clr-light-black: #606771;
$clr-gray: #e4e6ec;
$clr-dark-gray: #d6d8dc;
$clr-blue: #0071f2;
$clr-dark-blue: #0261cd;

$br-radius: 8px;
$br-clr: #e4e6ec;

$shadow-1: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
$shadow-2: rgba(0, 0, 0, 0.2) 0 12px 28px 0,
	rgba(0, 0, 0, 0.1) 0 2px 4px 0,
	rgba(255, 255, 255, 0.5) 0 0 0 1px inset;
$shadow-3: rgba(0, 0, 0, 0.1) 0 2px 4px 0,
	rgba(0, 0, 0, 0.2) 0 12px 28px 0;
