// Accordion.
.hvsfw-vf-accordion {
    display: none;

    &[data-show="yes"] {
        display: block;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        border: 1px solid #c3c4c7;
    }

    &__title {
        font-size: 13px;
        line-height: 16px;
    }

    &__body {
		overflow: hidden;
		transition: max-height 200ms ease-out;

		&[data-state="close"] {
			max-height: 0;
		}
	}

    &__content {
        padding: 10px;
        border: 1px solid #c3c4c7;
        border-top: 0;
    }

    &__toggle-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        fill: #787c82;
        cursor: pointer;
        background: transparent;
        border: 0;

        & > * {
            pointer-events: none;
        }

        svg {
            width: 14px;
            height: 14px;
            transition: all 400ms ease-in-out;
        }

        &[data-state="close"] > svg {
			transform: rotate(0deg);
		}

		&[data-state="open"] > svg {
			transform: rotate(180deg);
		}
    }
}

// Global.
.hvsfw-vf {
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    &-mt-10 {
        margin-top: 10px;
    }

    &-mb-10 {
        margin-bottom: 10px;
    }

    &-form {
        label {
            display: block;
            margin-bottom: 5px;
        }

        input,
        select,
        textarea {
            width: 100%;
        }

        &__field {
            display: none;
            margin-bottom: 1em;

            &[data-show="yes"] {
                display: block;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .wp-picker-container {
            display: block;

            .wp-picker-input-wrap {
                display: none;
            }

            .wp-color-result.button {
                margin-right: 0;
                width: 100%;
            }

            .wp-picker-holder {
                position: absolute;
            }
        }

        &__grid {
            display: none;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;

            &[data-show="yes"] {
                display: grid;
            }
        }
    }
}