// Helpers
.hd {

	// Colors.
	&-clr-white-1 {
		color: $color-white-1 !important;
	}

	&-clr-black-1 {
		color: $color-black-1 !important;
	}

	// Background Colors
	&-bg-white-1 {
		background-color: $color-white-1 !important;
	}

	&-bg-black-1 {
		background-color: $color-black-1 !important;
	}

	// Border Radius
	&-br-default {
		border-radius: $radius-1;
	}

	// Box Shadow
	&-shadow-1 {
		box-shadow: $shadow-1;
	}

	&-shadow-2 {
		box-shadow: $shadow-2;
	}

	// Line
	&-line-top {
		border-top: 1px solid $color-gray-4;
	}

	&-line-bottom {
		border-bottom: 1px solid $color-gray-4;
	}

	// Font Sizes
	&-fs-0 {
		font-size: 0 !important;
	}

	&-fs-12 {
		font-size: 12px !important;
		line-height: 16.8px !important;
	}

	&-fs-14 {
		font-size: 14px !important;
		line-height: 21px !important;
	}

	&-fs-16 {
		font-size: 16px !important;
		line-height: 24px !important;
	}

	&-fs-18 {
		font-size: 18px !important;
		line-height: 27px !important;
	}

	&-fs-20 {
		font-size: 20px !important;
		line-height: 24px !important;
	}

	&-fs-22 {
		font-size: 22px !important;
		line-height: 26.4px !important;
	}

	&-fs-24 {
		font-size: 24px !important;
		line-height: 28.8px !important;
	}

	&-fs-30 {
		font-size: 30px !important;
		line-height: 36px !important;
	}

	&-fs-36 {
		font-size: 36px !important;
		line-height: 43.2px !important;
	}

	&-fs-38 {
		font-size: 38px !important;
		line-height: 45.6px !important;
	}

	&-fs-40 {
		font-size: 40px !important;
		line-height: 48px !important;
	}

	&-fs-50 {
		font-size: 50px !important;
		line-height: 60px !important;
	}

	&-fs-55 {
		font-size: 55px !important;
		line-height: 66px !important;
	}

	// Font Weight
	&-fw-100 {
		font-weight: 100 !important;
	}

	&-fw-200 {
		font-weight: 200 !important;
	}

	&-fw-300 {
		font-weight: 300 !important;
	}

	&-fw-400 {
		font-weight: 400 !important;
	}

	&-fw-500 {
		font-weight: 500 !important;
	}

	&-fw-600 {
		font-weight: 600 !important;
	}

	&-fw-700 {
		font-weight: 700 !important;
	}

	&-fw-800 {
		font-weight: 800 !important;
	}

	&-fw-900 {
		font-weight: 900 !important;
	}

	&-fw-normal {
		font-weight: 400 !important;
	}

	&-fw-bold {
		font-weight: 700 !important;
	}

	&-fw-bolder {
		font-weight: 800 !important;
	}

	&-fw-lighter {
		font-weight: 200 !important;
	}

	// Font Style
	&-fs-normal {
		font-style: normal !important;
	}

	&-fs-italic {
		font-style: italic !important;
	}

	// Text Align
	&-txt-left {
		text-align: left !important;
	}

	&-txt-right {
		text-align: right !important;
	}

	&-txt-center {
		text-align: center !important;
	}

	&-txt-justify {
		text-align: justify !important;
	}

	// Display
	&-ds-flex {
		display: flex !important;
	}

	&-ds-none {
		display: none !important;
	}

	&-ds-block {
		display: block !important;
	}

	&-ds-inline-block {
		display: inline-block !important;
	}

	// Flexbox
	&-flex {
		display: flex !important;
	}

	&-flex-jc-c {
		justify-content: center !important;
	}

	&-flex-jc-sb {
		justify-content: space-between !important;
	}

	&-flex-jc-se {
		justify-content: space-evenly !important;
	}

	&-flex-jc-fs {
		justify-content: flex-start !important;
	}

	&-flex-jc-fe {
		justify-content: flex-end !important;
	}

	&-flex-ai-c {
		align-items: center !important;
	}

	&-flex-wrap {
		flex-wrap: wrap !important;
	}

	&-flex-dr-row {
		flex-direction: row !important;
	}

	&-flex-dr-col {
		flex-direction: column !important;
	}

	&-flex-cc {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
	}

	// Visibility
	&-show {
		display: initial !important;
	}

	&-hide {
		display: none !important;
	}

	// Positions
	&-ps-absolute {
		position: absolute !important;
	}

	&-ps-fixed {
		position: fixed !important;
	}

	&-ps-relative {
		position: relative !important;
	}

	&-ps-initial {
		position: initial !important;
	}

	// Gap
	&-gap-5 {
		gap: 5px !important;
	}

	&-gap-10 {
		gap: 10px !important;
	}

	&-gap-15 {
		gap: 15px !important;
	}

	&-gap-20 {
		gap: 20px !important;
	}

	// Width & Height
	&-wd-full {
		width: 100% !important;
	}

	&-wd-half {
		width: 50% !important;
	}

	&-ht-full {
		height: 100% !important;
	}

	&-ht-vh {
		height: 100vh !important;
	}

	// Margins
	&-m-0 {
		margin: 0 !important;
	}

	&-m-3 {
		margin: 3px !important;
	}

	&-m-5 {
		margin: 5px !important;
	}

	&-m-10 {
		margin: 10px !important;
	}

	&-m-15 {
		margin: 15px !important;
	}

	&-m-20 {
		margin: 20px !important;
	}

	&-m-25 {
		margin: 25px !important;
	}

	&-m-30 {
		margin: 30px !important;
	}

	&-m-40 {
		margin: 40px !important;
	}

	&-m-50 {
		margin: 50px !important;
	}

	&-mt-0 {
		margin-top: 0 !important;
	}

	&-mt-3 {
		margin-top: 3px !important;
	}

	&-mt-5 {
		margin-top: 5px !important;
	}

	&-mt-10 {
		margin-top: 10px !important;
	}

	&-mt-15 {
		margin-top: 15px !important;
	}

	&-mt-20 {
		margin-top: 20px !important;
	}

	&-mt-25 {
		margin-top: 25px !important;
	}

	&-mt-30 {
		margin-top: 30px !important;
	}

	&-mt-40 {
		margin-top: 40px !important;
	}

	&-mt-50 {
		margin-top: 50px !important;
	}

	&-mt-60 {
		margin-top: 60px !important;
	}

	&-mt-80 {
		margin-top: 80px !important;
	}

	&-mt-100 {
		margin-top: 100px !important;
	}

	&-mb-0 {
		margin-bottom: 0 !important;
	}

	&-mb-3 {
		margin-bottom: 3px !important;
	}

	&-mb-5 {
		margin-bottom: 5px !important;
	}

	&-mb-10 {
		margin-bottom: 10px !important;
	}

	&-mb-15 {
		margin-bottom: 15px !important;
	}

	&-mb-20 {
		margin-bottom: 20px !important;
	}

	&-mb-25 {
		margin-bottom: 25px !important;
	}

	&-mb-30 {
		margin-bottom: 30px !important;
	}

	&-mb-40 {
		margin-bottom: 40px !important;
	}

	&-mb-50 {
		margin-bottom: 50px !important;
	}

	&-mb-60 {
		margin-bottom: 60px !important;
	}

	&-mb-80 {
		margin-bottom: 80px !important;
	}

	&-mb-100 {
		margin-bottom: 100px !important;
	}

	&-ml-0 {
		margin-left: 0 !important;
	}

	&-ml-3 {
		margin-left: 3px !important;
	}

	&-ml-5 {
		margin-left: 5px !important;
	}

	&-ml-10 {
		margin-left: 10px !important;
	}

	&-ml-15 {
		margin-left: 15px !important;
	}

	&-ml-20 {
		margin-left: 20px !important;
	}

	&-ml-25 {
		margin-left: 25px !important;
	}

	&-ml-30 {
		margin-left: 30px !important;
	}

	&-ml-40 {
		margin-left: 40px !important;
	}

	&-ml-50 {
		margin-left: 50px !important;
	}

	&-mr-0 {
		margin-right: 0 !important;
	}

	&-mr-3 {
		margin-right: 3px !important;
	}

	&-mr-5 {
		margin-right: 5px !important;
	}

	&-mr-10 {
		margin-right: 10px !important;
	}

	&-mr-15 {
		margin-right: 15px !important;
	}

	&-mr-20 {
		margin-right: 20px !important;
	}

	&-mr-25 {
		margin-right: 25px !important;
	}

	&-mr-30 {
		margin-right: 30px !important;
	}

	&-mr-40 {
		margin-right: 40px !important;
	}

	&-mr-50 {
		margin-right: 50px !important;
	}

	&-mv-5 {
		margin-top: 5px !important;
		margin-bottom: 5px !important;
	}

	&-mv-10 {
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}

	&-mv-15 {
		margin-top: 15px !important;
		margin-bottom: 15px !important;
	}

	&-mv-20 {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}

	&-mv-25 {
		margin-top: 25px !important;
		margin-bottom: 25px !important;
	}

	&-mv-30 {
		margin-top: 30px !important;
		margin-bottom: 30px !important;
	}

	&-mv-40 {
		margin-top: 40px !important;
		margin-bottom: 40px !important;
	}

	&-mv-50 {
		margin-top: 50px !important;
		margin-bottom: 50px !important;
	}

	&-mh-5 {
		margin-left: 5px !important;
		margin-right: 5px !important;
	}

	&-mh-10 {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}

	&-mh-15 {
		margin-left: 15px !important;
		margin-right: 15px !important;
	}

	&-mh-20 {
		margin-left: 20px !important;
		margin-right: 20px !important;
	}

	&-mh-25 {
		margin-left: 25px !important;
		margin-right: 25px !important;
	}

	&-mh-30 {
		margin-left: 30px !important;
		margin-right: 30px !important;
	}

	&-mh-40 {
		margin-left: 40px !important;
		margin-right: 40px !important;
	}

	&-mh-50 {
		margin-left: 50px !important;
		margin-right: 50px !important;
	}

	&-ms-auto {
		margin: 0 auto !important;
	}

	&-ml-auto {
		margin-left: auto !important;
	}

	// Paddings
	&-p-0 {
		padding: 0 !important;
	}

	&-p-3 {
		padding: 3px !important;
	}

	&-p-5 {
		padding: 5px !important;
	}

	&-p-10 {
		padding: 10px !important;
	}

	&-p-15 {
		padding: 15px !important;
	}

	&-p-20 {
		padding: 20px !important;
	}

	&-p-25 {
		padding: 25px !important;
	}

	&-p-30 {
		padding: 30px !important;
	}

	&-p-40 {
		padding: 40px !important;
	}

	&-p-50 {
		padding: 50px !important;
	}

	&-pt-0 {
		padding-top: 0 !important;
	}

	&-pt-3 {
		padding-top: 3px !important;
	}

	&-pt-5 {
		padding-top: 5px !important;
	}

	&-pt-10 {
		padding-top: 10px !important;
	}

	&-pt-15 {
		padding-top: 15px !important;
	}

	&-pt-20 {
		padding-top: 20px !important;
	}

	&-pt-25 {
		padding-top: 25px !important;
	}

	&-pt-30 {
		padding-top: 30px !important;
	}

	&-pt-40 {
		padding-top: 40px !important;
	}

	&-pt-50 {
		padding-top: 50px !important;
	}

	&-pb-0 {
		padding-bottom: 0 !important;
	}

	&-pb-3 {
		padding-bottom: 3px !important;
	}

	&-pb-5 {
		padding-bottom: 5px !important;
	}

	&-pb-10 {
		padding-bottom: 10px !important;
	}

	&-pb-15 {
		padding-bottom: 15px !important;
	}

	&-pb-20 {
		padding-bottom: 20px !important;
	}

	&-pb-25 {
		padding-bottom: 25px !important;
	}

	&-pb-30 {
		padding-bottom: 30px !important;
	}

	&-pb-40 {
		padding-bottom: 40px !important;
	}

	&-pb-50 {
		padding-bottom: 50px !important;
	}

	&-pl-0 {
		padding-left: 0 !important;
	}

	&-pl-3 {
		padding-left: 3px !important;
	}

	&-pl-5 {
		padding-left: 5px !important;
	}

	&-pl-10 {
		padding-left: 10px !important;
	}

	&-pl-15 {
		padding-left: 15px !important;
	}

	&-pl-20 {
		padding-left: 20px !important;
	}

	&-pl-25 {
		padding-left: 25px !important;
	}

	&-pl-30 {
		padding-left: 30px !important;
	}

	&-pl-40 {
		padding-left: 40px !important;
	}

	&-pl-50 {
		padding-left: 50px !important;
	}

	&-pr-0 {
		padding-right: 0 !important;
	}

	&-pr-3 {
		padding-right: 3px !important;
	}

	&-pr-5 {
		padding-right: 5px !important;
	}

	&-pr-10 {
		padding-right: 10px !important;
	}

	&-pr-15 {
		padding-right: 15px !important;
	}

	&-pr-20 {
		padding-right: 20px !important;
	}

	&-pr-25 {
		padding-right: 25px !important;
	}

	&-pr-30 {
		padding-right: 30px !important;
	}

	&-pr-40 {
		padding-right: 40px !important;
	}

	&-pr-50 {
		padding-right: 50px !important;
	}

	&-pv-5 {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}

	&-pv-10 {
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}

	&-pv-15 {
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}

	&-pv-20 {
		padding-top: 20px !important;
		padding-bottom: 20px !important;
	}

	&-pv-25 {
		padding-top: 25px !important;
		padding-bottom: 25px !important;
	}

	&-pv-30 {
		padding-top: 30px !important;
		padding-bottom: 30px !important;
	}

	&-pv-40 {
		padding-top: 40px !important;
		padding-bottom: 40px !important;
	}

	&-pv-50 {
		padding-top: 50px !important;
		padding-bottom: 50px !important;
	}

	&-ph-5 {
		padding-left: 5px !important;
		padding-bottom: 5px !important;
	}

	&-ph-10 {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}

	&-ph-15 {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	&-ph-20 {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}

	&-ph-25 {
		padding-left: 25px !important;
		padding-right: 25px !important;
	}

	&-ph-30 {
		padding-left: 30px !important;
		padding-right: 30px !important;
	}

	&-ph-40 {
		padding-left: 40px !important;
		padding-right: 40px !important;
	}

	&-ph-50 {
		padding-left: 50px !important;
		padding-right: 50px !important;
	}

	// Container
	&-container {
		padding: 0 20px;
		margin: 0 auto;
		width: 100%;
		max-width: 1270px;
	}

	// Wrapper
	&-wrapper {
		padding: 100px 0;

		&-t {
			padding-top: 100px;
		}

		&-b {
			padding-bottom: 100px;
		}

		@include media-md {
			padding: 80px 0;

			&-t {
				padding-top: 80px;
			}

			&-b {
				padding-bottom: 80px;
			}
		}

		@include media-sm {
			padding: 60px 0;

			&-t {
				padding-top: 60px;
			}

			&-b {
				padding-bottom: 60px;
			}
		}
	}

	// Lists
	&-no-bullet {
		list-style: none !important;
	}

	&-list-bare {
		margin: 0 !important;
		padding: 0 !important;
		list-style: none !important;
	}

	// SVG
	&-svg {
		display: block;
	}
}
