// Breadcrumb
.hd-breadcrumb {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;

	li {
		margin: 0;
		display: flex;
		font-size: 12px;
		font-weight: 500;
		line-height: 14px;

		&:not(:first-child)::before {
			content: "/";
			margin: 0 7px;
			display: block;
		}
	}

	svg {
		display: block;
		width: 16px;
		height: 16px;
	}
}
