/**
 * Carousel
 */
.hd-carousel {
	display: flex;
	position: relative;
	width: 100%;
	overflow: hidden;

	&__btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 99;

		&[data-event="prev"] {
			left: 0;
		}

		&[data-event="next"] {
			right: 0;
		}
	}

	&__list {
		display: flex;
		position: relative;
		align-items: center;
		padding: 5px 0;
		margin: 0;
		width: 100%;
		left: 0;
		transition: 0.25s;
	}

	&__item {
		margin: 0 5px;

		&:first-child {
			padding-left: 55px;
		}

		&:last-child {
			padding-right: 55px;
		}
	}
}
