// Card
.hd-card {
	background-color: $clr-white-1;
	border-radius: $br-radius-2;
	border: 1px solid $clr-gray-4;
	box-shadow: $shadow-1;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		cursor: pointer;
		border-bottom: 1px solid $clr-gray-4;

		* {
			pointer-events: none;
		}
	}

	&__title {
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
	}

	&__chevron {

		svg {
			width: 18px;
			height: 18px;
			transition: all 400ms ease-in-out;
		}
	}

	&__body {
		overflow: hidden;
		transition: max-height 200ms ease-out;
	}

	&[data-state="opened"] {

		.hd-card__chevron {
			transform: rotate(180deg);
		}
	}

	&[data-state="closed"] {

		.hd-card__chevron {
			transform: rotate(0deg);
		}

		.hd-card__body {
			max-height: 0;
		}
	}
}
