/**
 * Card
 */
.hd-card {
	position: relative;
	background: $clr-white;
	border-radius: $br-radius;
	box-shadow: $shadow-1;

	&__overlay {
		display: none;
	}

	&.hd-disabled {
		.hd-card__overlay {
			display: block;
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    background: rgba(255,255,255,0.6);
		    cursor: not-allowed;
		    border-radius: 8px;
		}
	}

	.hd-accordion {

		&__header {
			padding: 10px 15px;
		}

		&__content {
			border-top: 1px solid $clr-gray;
		}
	}
}
