// Error Notice
.hd-error-notice {
	margin: 0 auto;
	width: 100%;
	max-width: 650px;
	text-align: center;

	&__image {
		display: flex;
		justify-content: center;

		img {
			max-width: 500px;
		}
	}

	&__content {
		margin-bottom: 20px;
	}

	&__actions {
		display: inline-block;
	}
}
