/**
 * Fields.
 */
input.hd-text-field,
input.hd-number-field,
select.hd-select-field {
	position: relative;
	padding: 0 16px;
	width: 50%;
	height: 40px !important;
	color: $clr-black !important;
	background-color: $clr-gray !important;
	border: 0 !important;
	border-radius: 100px !important;
	box-shadow: none !important;
	font-size: 14px !important;

	&::placeholder {
		color: $clr-black !important;
	}
}

select.hd-select-field {
	max-width: 100%;
	background-size: unset !important;
	background-position-x: calc(100% - 12px) !important;
	padding-right: 32px !important;
}

textarea.hd-textarea-field {
	position: relative;
	padding: 16px;
	width: 50%;
	height: 300px;
	color: $clr-black !important;
	background-color: $clr-gray !important;
	border: 0 !important;
	border-radius: 15px !important;
	box-shadow: none !important;
	font-size: 14px !important;
}

.hd-color-picker-field {
	position: relative;
	display: flex;
	align-items: center;
	padding: 0 12px;
	width: 50%;
	height: 40px;
	color: $clr-black;
	background: $clr-gray;
	border-radius: 100px;

	&__btn {
		margin-right: 10px;
		width: 28px;
		height: 28px;
		border: 1px solid $clr-dark-gray;
		border-radius: 100px;
	}
}

.hd-icon-picker-field {
	width: 50%;
	display: grid;
	grid-gap: 10px;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(auto-fill, minmax(40px, 3fr));

	&__thumbnail {
		width: 40px;
		padding: 8px;
		cursor: pointer;
		border-radius: $br-radius;
		border: 2px solid $clr-gray;

		* {
			pointer-events: none;
		}

		svg {
			display: block;
			width: 100%;
		}

		&[data-state="active"] {
			border-color: $clr-blue;
		}

		&:hover,
		&:focus {
			background-color: $clr-gray;

			@include transition;
		}
	}
}

.hd-image-picker-field {
	width: 50%;
	display: grid;
	grid-gap: 10px;
	grid-auto-rows: 1fr;

	&__thumbnail {
		padding: 10px;
		cursor: pointer;
		border-radius: $br-radius;
		border: 2px solid $clr-gray;

		* {
			pointer-events: none;
		}

		img {
			display: block;
			width: 100%;
		}

		&[data-state="active"] {
			border-color: $clr-blue;
		}

		&:hover,
		&:focus {
			background-color: $clr-gray;

			@include transition;
		}
	}
}

.hd-loader-picker-field {
	width: 50%;
	display: grid;
	grid-gap: 10px;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(auto-fill, minmax(40px, 3fr));

	&__thumbnail {
		width: 40px;
		padding: 8px;
		cursor: pointer;
		border-radius: $br-radius;
		border: 2px solid $clr-gray;

		* {
			pointer-events: none;
		}

		&[data-state="active"] {
			border-color: $clr-blue;
		}

		&:hover,
		&:focus {
			background-color: $clr-gray;

			@include transition;
		}
	}

	&__container {
		max-width: 20px;
		height: 20px;
	}
}

.hd-file-field {
	display: flex;
	align-items: center;
	width: 50%;
	height: 40px;
	padding-left: 8px;
	background-color: $clr-gray;
	border-radius: 100px;

	&__input {
		display: none;
	}

	&__circle {
		padding: 5px;
		margin-right: 15px;
		width: 30px;
		height: 30px;
		background-color: #cecece;
		border-radius: 100px;

		svg {
			width: 20px;
			height: 20px;
			fill: $clr-black;
		}
	}

	&__label {
		width: 335px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.hd-note-field {
	box-shadow: inset 3px 0 0 0 $clr-blue, inset 0 0 0 1px $clr-gray;

	svg {
		width: 30px;
	}
}

@media ( max-width: 1050px ) {

	.hd-file-field__label {
		width: 140px;
	}
}

@include media-sm {

	input.hd-text-field,
	input.hd-number-field,
	select.hd-select-field,
	textarea.hd-textarea-field,
	.hd-color-picker-field,
	.hd-icon-picker-field,
	.hd-image-picker-field,
	.hd-loader-picker-field,
	.hd-file-field {
		width: 100%;
	}
}

.hd-form-field {
	padding: 15px;
	border-bottom: 1px solid $clr-gray;

	&:last-child {
		border-bottom: 0;
	}

	&--multiple {

		.hd-form-field {
			border-bottom: 0;

			.hd-text-field,
			.hd-number-field,
			.hd-select-field,
			.hd-color-picker-field {
				width: 100%;
			}

		}
	}

	&__grid {
		display: grid;
		grid-gap: 15px;
		grid-auto-rows: 1fr;
		grid-template-columns: repeat(auto-fill, minmax(365px, 3fr));

		@media ( max-width: 1020px ) {
			grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
		}

		@include media-sm {
			grid-template-columns: repeat(auto-fill, minmax(100%, 3fr));
		}
	}

	&__error {
		display: none;
	}

	&[data-has-error="1"] {

		.hd-form-field__error {
			display: block;
			animation: fade-in 320ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
		}
	}
}
