// Placeholder
.hd-placeholder {

	&[data-visibility="hidden"] {
		display: none;
	}

	&__nav {
		margin-bottom: 30px;
		padding: 12px 16px;
		width: 100%;
		height: 74px;
		background-color: $clr-white-1;
		border-radius: $br-radius-2;
		box-shadow: $shadow-1;
	}

	&__btn {
		margin-left: auto;
		width: 150px;
		height: 40px;
		background-color: $clr-blue-1;
		border-radius: $br-radius-2;

		&__line {
			width: 100px;
		}
	}

	&__tab {
		margin: 30px 0;
		width: 100%;
		height: 505px;
		background-color: $clr-white-1;
		border-radius: $br-radius-2;
		border: 1px solid $clr-gray-4;
		box-shadow: $shadow-1;
	}
}
