/**
 * Tab
 */
.hd-tab {
	position: relative;
	display: flex;
	align-items: center;
	padding: 12px 16px;
	background-color: $clr-white;
	border-radius: $br-radius;
	box-shadow: $shadow-1;

	&__btn {
		width: max-content !important;
		min-width: auto !important;
		color: $clr-black !important;
		background-color: $clr-white !important;

		&[data-state="active"] {
			color: $clr-white !important;
			background-color: $clr-blue !important;
		}

		&:hover,
		&:focus {
			color: $clr-white !important;
			background-color: $clr-blue !important;

			@include transition;
		}

	}

	&__panel {
		display: none;

		&[data-state="active"] {
			display: block;
			animation: fade-in 500ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
		}
	}
}
