.hvsfw-vf-field {
    .components-color-palette__custom-color {
        &-name {
            display: none;
        }

        &-value {
            margin-left: 0;
        }
    }

    .components-border-control {
        .components-base-control {
            margin-bottom: 0px;
        }
    }
}

.components-panel__body .hvsfw-vf-field:not(:last-child) {
	margin-bottom: 24px;
}

.components-grid .hvsfw-vf-field {
    margin-bottom: 0 !important;
}