.hvsfw-vf-swatch-image {
    display: flex;
    flex-wrap: wrap;

    &__box {
        padding: 3px;
        cursor: pointer;
    }

    &__image {
        width: 100%;
        height: 100%;
        background-size: cover;
        border-radius: inherit;
    }
}