// Color Picker.
.hvsfw-color-picker {

	&[data-count="1"] {

		.hvsfw-color-picker__list:first-child {

			.hvsfw-color-picker__delete-btn {
				display: none;
			}
		}
	}

	&__list {
		margin-bottom: 10px;
	}

	&__item {
		display: flex;
		padding: 5px 0;

		.hvsfw-col__left {
			margin-right: 10px;
		}
	}

	.button {
		min-height: 30px;
		line-height: 26px;
		margin-bottom: 0 !important;
	}

	.wp-picker-holder {
		position: absolute;
	}

	.wp-picker-container,
	.wp-picker-container .wp-color-result.button {
		margin: 0;
	}

	.wp-picker-input-wrap .button.wp-picker-clear {
		display: none;
	}

	@media ( max-width: 782px ) {

		.button {
			min-height: 32px;
		}
	}
}

// Image Picker.
.hvsfw-image-picker {

	&__img {
		display: block;
		width: 100%;
		max-width: fit-content;
		max-height: inherit;
		border-radius: 4px;
	}

	&__previewer {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4px;
		margin-bottom: 10px;
		width: 100%;
		max-width: 80px;
		max-height: 80px;
		border-radius: 4px;
		border: 1px solid #dcdcde;
	}

	&__control {
		display: flex;

		.hvsfw-col__left {
			margin-right: 10px;
		}
	}

	.button {

		&[data-state="disabled"] {
			cursor: not-allowed;
			opacity: 0.5;
		}
	}
}

// Previewer.
.hvsfw-preview {

	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}

	// Color.
	&__color {
		display: flex;
		width: 40px;
		height: 40px;
		border: 1px solid #dfdfdf;
		border-radius: 5px;

		&__cell {
			height: 100%;

			&:first-child {
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}

			&:last-child {
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}
		}
	}

	// Image.
	&__image {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-width: 40px;
		max-width: 40px;
		max-height: 40px;
		border: 1px solid #dfdfdf;
		border-radius: 5px;

		&__img {
			display: block;
			width: 100%;
			max-width: fit-content;
			max-height: inherit;
			border-radius: 4px;
		}
	}
}

// WP List Table.
.wp-list-table {

	@media ( max-width: 782px ) {

		#hvsfw_color,
		#hvsfw_image {
			display: none;
		}

		td.column-hvsfw_color:first-child {
			display: none;

			&:before {
				content: "" !important;
			}
		}

		td.column-hvsfw_image:first-child {
			display: none;

			&:before {
				content: "" !important;
			}
		}
	}
}
