// Modules
@import "modules/color_picker";
@import "modules/image_picker";

.hvsfw {

	// Field.
	&-field {

		select {
			width: 100%;
		}
	}

	// Tooltip.
	&-field__tooltip {

		&[data-visible="no"] {
			display: none;
		}
	}

	// Previewer.
	&-preview {

		*,
		*::before,
		*::after {
			box-sizing: border-box;
		}

		// Color.
		&__color {
			display: flex;
			width: 40px;
			height: 40px;
			border: 1px solid #8c8f94;
			border-radius: 5px;
		}

		// Image.
		&__image {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			min-width: 40px;
			max-width: 40px;
			max-height: 40px;
			border: 1px solid #8c8f94;
			border-radius: 5px;

			&__img {
				display: block;
				width: 100%;
				max-width: fit-content;
				max-height: inherit;
				border-radius: 4px;
			}
		}
	}
}

// Tooltip.
tr.hvsfw-field__tooltip {

	&[data-visible="no"] {
		display: none;
	}
}

// WP List Table.
.wp-list-table {

	@media ( max-width: 782px ) {

		#hvsfw_color,
		#hvsfw_image {
			display: none;
		}

		td.column-hvsfw_color:first-child {
			display: none;

			&::before {
				content: "" !important;
			}
		}

		td.column-hvsfw_image:first-child {
			display: none;

			&::before {
				content: "" !important;
			}
		}
	}
}
