// Footer
.hd-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
	margin-top: 120px;

	.hd-sitemap {
		display: flex;
		gap: 5px;

		a {
			color: $color-blue-1;
			text-decoration: underline;

			&:hover,
			&:focus {
				color: $color-blue-4;

				@include transition;
			}
		}
	}

	.hd-social-media {
		display: flex;
		gap: 10px;
		margin: 0;
		margin-top: 10px;

		a {
			fill: $color-black-1;
			color: $color-black-1;

			&:hover,
			&:focus {
				fill: $color-blue-1;
				color: $color-blue-1;

				@include transition;
			}
		}

		svg {
			width: 18px;
			height: 18px;
		}
	}
}
