// Header
.hd-header {
	position: fixed;
	top: 32px;
	padding: 15px 0;
	width: calc(100% - 160px);
	background-color: $color-white-1;
	z-index: 999;

	&__col {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		max-width: 60px;
	}

	&__separator {
		width: 2px;
		height: 18px;
		background-color: $color-gray-3;
	}

	&__navigation {
		display: none;
		position: absolute;
		top: 56px;
		right: 0;
		width: 280px;
		background-color: $color-white-1;
		z-index: 999;

		&[data-state="active"] {
			display: block;
		}
	}

	@include media-960 {
		width: calc(100% - 30px);
	}

	@include media-sm {
		top: 46px;
		width: 100%;
	}

	@include media-600 {
		position: relative;
		top: 0;
	}
}

.hd-app.scrolled {

	.hd-header {
		box-shadow: $shadow-1;
		transition: box-shadow 0.6s;
	}
}

body.folded {

	.hd-header {
		left: 36px;
		width: calc(100% - 36px);
	}
}
