/**
 * Image Picker.
 */
.hvsfw-image-picker {

	&__img {
		display: block;
		width: 100%;
		max-width: fit-content;
		max-height: inherit;
		border-radius: 4px;
	}

	&__previewer {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4px;
		margin-bottom: 10px;
		width: 100%;
		max-width: 80px;
		max-height: 80px;
		border-radius: 4px;
		border: 1px solid #dcdcde;
	}

	&__control {
		display: flex;

		.hvsfw-col__left {
			margin-right: 10px;
		}
	}

	.button {

		&[data-state="disabled"] {
			cursor: not-allowed;
			opacity: 0.5;
		}
	}
}