/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./resources/admin/styles/hvsfw-home.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}
.hd html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
.hd body {
  margin: 0;
}
.hd main {
  display: block;
}
.hd h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.hd hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
.hd pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
.hd a {
  background-color: transparent;
}
.hd abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
.hd b,
.hd strong {
  font-weight: 800;
}
.hd code,
.hd kbd,
.hd samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
.hd small {
  font-size: 80%;
}
.hd sub,
.hd sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.hd sub {
  bottom: -0.25em;
}
.hd sup {
  top: -0.5em;
}
.hd img {
  border-style: none;
}
.hd button,
.hd input,
.hd optgroup,
.hd select,
.hd textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
.hd button,
.hd input { /* 1 */
  overflow: visible;
}
.hd button,
.hd select { /* 1 */
  text-transform: none;
}
.hd button,
.hd [type=button],
.hd [type=reset],
.hd [type=submit] {
  -webkit-appearance: button;
}
.hd button::-moz-focus-inner,
.hd [type=button]::-moz-focus-inner,
.hd [type=reset]::-moz-focus-inner,
.hd [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
.hd button:-moz-focusring,
.hd [type=button]:-moz-focusring,
.hd [type=reset]:-moz-focusring,
.hd [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.hd fieldset {
  padding: 0.35em 0.75em 0.625em;
}
.hd legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
.hd progress {
  vertical-align: baseline;
}
.hd textarea {
  overflow: auto;
}
.hd [type=checkbox],
.hd [type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
.hd [type=number]::-webkit-inner-spin-button,
.hd [type=number]::-webkit-outer-spin-button {
  height: auto;
}
.hd [type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
.hd [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.hd ::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
.hd details {
  display: block;
}
.hd summary {
  display: list-item;
}
.hd template {
  display: none;
}
.hd [hidden] {
  display: none;
}

.hd-app {
  color: #141B38;
  font-family: "Lexend Deca", sans-serif;
  font-size: 14px;
  line-height: 22px;
}
.hd-app *,
.hd-app *::before,
.hd-app *::after {
  box-sizing: border-box;
}
.hd-app body,
.hd-app h1,
.hd-app h2,
.hd-app h3,
.hd-app h4,
.hd-app h5,
.hd-app h6,
.hd-app p,
.hd-app span,
.hd-app label,
.hd-app figure,
.hd-app picture {
  margin: 0;
}
.hd-app p {
  font-size: 14px;
  line-height: 22px;
}
.hd-app img,
.hd-app picture {
  display: block;
  max-width: 100%;
  height: auto;
}
.hd-app input,
.hd-app button,
.hd-app textarea,
.hd-app select {
  font: inherit;
}
.hd-app a,
.hd-app button {
  cursor: pointer;
}
.hd-app a[data-state=loading],
.hd-app button[data-state=loading] {
  cursor: wait;
}
.hd-app a[data-state=disabled],
.hd-app button[data-state=disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}
.hd-app a {
  color: #141B38;
  text-decoration: none;
  outline: none !important;
  box-shadow: none !important;
}
.hd-app a:hover, .hd-app a:focus {
  color: #0071F2;
  transition: all 320ms ease-in-out 0s;
}
.hd-app button > * {
  pointer-events: none;
}

#wpcontent {
  padding-left: 0;
  background: #F4F7F9;
}

.wrap {
  margin: 0;
}

@media only screen and (max-width: 782px) {
  .auto-fold #wpcontent {
    padding-left: 0;
  }
}
.hd-clr-white-1 {
  color: #FFF !important;
}
.hd-clr-black-1 {
  color: #141B38 !important;
}
.hd-bg-white-1 {
  background-color: #FFF !important;
}
.hd-bg-black-1 {
  background-color: #141B38 !important;
}
.hd-br-default {
  border-radius: 4px;
}
.hd-shadow-1 {
  box-shadow: 0 4px 40px rgba(39, 32, 120, 0.1);
}
.hd-shadow-2 {
  box-shadow: 0 9px 20px rgba(46, 35, 94, 0.07);
}
.hd-line-top {
  border-top: 1px solid #E8E8EB;
}
.hd-line-bottom {
  border-bottom: 1px solid #E8E8EB;
}
.hd-fs-0 {
  font-size: 0 !important;
}
.hd-fs-12 {
  font-size: 12px !important;
  line-height: 16.8px !important;
}
.hd-fs-14 {
  font-size: 14px !important;
  line-height: 21px !important;
}
.hd-fs-16 {
  font-size: 16px !important;
  line-height: 24px !important;
}
.hd-fs-18 {
  font-size: 18px !important;
  line-height: 27px !important;
}
.hd-fs-20 {
  font-size: 20px !important;
  line-height: 24px !important;
}
.hd-fs-22 {
  font-size: 22px !important;
  line-height: 26.4px !important;
}
.hd-fs-24 {
  font-size: 24px !important;
  line-height: 28.8px !important;
}
.hd-fs-30 {
  font-size: 30px !important;
  line-height: 36px !important;
}
.hd-fs-36 {
  font-size: 36px !important;
  line-height: 43.2px !important;
}
.hd-fs-38 {
  font-size: 38px !important;
  line-height: 45.6px !important;
}
.hd-fs-40 {
  font-size: 40px !important;
  line-height: 48px !important;
}
.hd-fs-50 {
  font-size: 50px !important;
  line-height: 60px !important;
}
.hd-fs-55 {
  font-size: 55px !important;
  line-height: 66px !important;
}
.hd-fw-100 {
  font-weight: 100 !important;
}
.hd-fw-200 {
  font-weight: 200 !important;
}
.hd-fw-300 {
  font-weight: 300 !important;
}
.hd-fw-400 {
  font-weight: 400 !important;
}
.hd-fw-500 {
  font-weight: 500 !important;
}
.hd-fw-600 {
  font-weight: 600 !important;
}
.hd-fw-700 {
  font-weight: 700 !important;
}
.hd-fw-800 {
  font-weight: 800 !important;
}
.hd-fw-900 {
  font-weight: 900 !important;
}
.hd-fw-normal {
  font-weight: 400 !important;
}
.hd-fw-bold {
  font-weight: 700 !important;
}
.hd-fw-bolder {
  font-weight: 800 !important;
}
.hd-fw-lighter {
  font-weight: 200 !important;
}
.hd-fs-normal {
  font-style: normal !important;
}
.hd-fs-italic {
  font-style: italic !important;
}
.hd-txt-left {
  text-align: left !important;
}
.hd-txt-right {
  text-align: right !important;
}
.hd-txt-center {
  text-align: center !important;
}
.hd-txt-justify {
  text-align: justify !important;
}
.hd-ds-flex {
  display: flex !important;
}
.hd-ds-none {
  display: none !important;
}
.hd-ds-block {
  display: block !important;
}
.hd-ds-inline-block {
  display: inline-block !important;
}
.hd-flex {
  display: flex !important;
}
.hd-flex-jc-c {
  justify-content: center !important;
}
.hd-flex-jc-sb {
  justify-content: space-between !important;
}
.hd-flex-jc-se {
  justify-content: space-evenly !important;
}
.hd-flex-jc-fs {
  justify-content: flex-start !important;
}
.hd-flex-jc-fe {
  justify-content: flex-end !important;
}
.hd-flex-ai-c {
  align-items: center !important;
}
.hd-flex-wrap {
  flex-wrap: wrap !important;
}
.hd-flex-dr-row {
  flex-direction: row !important;
}
.hd-flex-dr-col {
  flex-direction: column !important;
}
.hd-flex-cc {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.hd-show {
  display: initial !important;
}
.hd-hide {
  display: none !important;
}
.hd-ps-absolute {
  position: absolute !important;
}
.hd-ps-fixed {
  position: fixed !important;
}
.hd-ps-relative {
  position: relative !important;
}
.hd-ps-initial {
  position: initial !important;
}
.hd-gap-5 {
  gap: 5px !important;
}
.hd-gap-10 {
  gap: 10px !important;
}
.hd-gap-15 {
  gap: 15px !important;
}
.hd-gap-20 {
  gap: 20px !important;
}
.hd-wd-full {
  width: 100% !important;
}
.hd-wd-half {
  width: 50% !important;
}
.hd-ht-full {
  height: 100% !important;
}
.hd-ht-vh {
  height: 100vh !important;
}
.hd-m-0 {
  margin: 0 !important;
}
.hd-m-3 {
  margin: 3px !important;
}
.hd-m-5 {
  margin: 5px !important;
}
.hd-m-10 {
  margin: 10px !important;
}
.hd-m-15 {
  margin: 15px !important;
}
.hd-m-20 {
  margin: 20px !important;
}
.hd-m-25 {
  margin: 25px !important;
}
.hd-m-30 {
  margin: 30px !important;
}
.hd-m-40 {
  margin: 40px !important;
}
.hd-m-50 {
  margin: 50px !important;
}
.hd-mt-0 {
  margin-top: 0 !important;
}
.hd-mt-3 {
  margin-top: 3px !important;
}
.hd-mt-5 {
  margin-top: 5px !important;
}
.hd-mt-10 {
  margin-top: 10px !important;
}
.hd-mt-15 {
  margin-top: 15px !important;
}
.hd-mt-20 {
  margin-top: 20px !important;
}
.hd-mt-25 {
  margin-top: 25px !important;
}
.hd-mt-30 {
  margin-top: 30px !important;
}
.hd-mt-40 {
  margin-top: 40px !important;
}
.hd-mt-50 {
  margin-top: 50px !important;
}
.hd-mt-60 {
  margin-top: 60px !important;
}
.hd-mt-80 {
  margin-top: 80px !important;
}
.hd-mt-100 {
  margin-top: 100px !important;
}
.hd-mb-0 {
  margin-bottom: 0 !important;
}
.hd-mb-3 {
  margin-bottom: 3px !important;
}
.hd-mb-5 {
  margin-bottom: 5px !important;
}
.hd-mb-10 {
  margin-bottom: 10px !important;
}
.hd-mb-15 {
  margin-bottom: 15px !important;
}
.hd-mb-20 {
  margin-bottom: 20px !important;
}
.hd-mb-25 {
  margin-bottom: 25px !important;
}
.hd-mb-30 {
  margin-bottom: 30px !important;
}
.hd-mb-40 {
  margin-bottom: 40px !important;
}
.hd-mb-50 {
  margin-bottom: 50px !important;
}
.hd-mb-60 {
  margin-bottom: 60px !important;
}
.hd-mb-80 {
  margin-bottom: 80px !important;
}
.hd-mb-100 {
  margin-bottom: 100px !important;
}
.hd-ml-0 {
  margin-left: 0 !important;
}
.hd-ml-3 {
  margin-left: 3px !important;
}
.hd-ml-5 {
  margin-left: 5px !important;
}
.hd-ml-10 {
  margin-left: 10px !important;
}
.hd-ml-15 {
  margin-left: 15px !important;
}
.hd-ml-20 {
  margin-left: 20px !important;
}
.hd-ml-25 {
  margin-left: 25px !important;
}
.hd-ml-30 {
  margin-left: 30px !important;
}
.hd-ml-40 {
  margin-left: 40px !important;
}
.hd-ml-50 {
  margin-left: 50px !important;
}
.hd-mr-0 {
  margin-right: 0 !important;
}
.hd-mr-3 {
  margin-right: 3px !important;
}
.hd-mr-5 {
  margin-right: 5px !important;
}
.hd-mr-10 {
  margin-right: 10px !important;
}
.hd-mr-15 {
  margin-right: 15px !important;
}
.hd-mr-20 {
  margin-right: 20px !important;
}
.hd-mr-25 {
  margin-right: 25px !important;
}
.hd-mr-30 {
  margin-right: 30px !important;
}
.hd-mr-40 {
  margin-right: 40px !important;
}
.hd-mr-50 {
  margin-right: 50px !important;
}
.hd-mv-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.hd-mv-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.hd-mv-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.hd-mv-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.hd-mv-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.hd-mv-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.hd-mv-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.hd-mv-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.hd-mh-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.hd-mh-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.hd-mh-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.hd-mh-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.hd-mh-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.hd-mh-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.hd-mh-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.hd-mh-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.hd-ms-auto {
  margin: 0 auto !important;
}
.hd-ml-auto {
  margin-left: auto !important;
}
.hd-p-0 {
  padding: 0 !important;
}
.hd-p-3 {
  padding: 3px !important;
}
.hd-p-5 {
  padding: 5px !important;
}
.hd-p-10 {
  padding: 10px !important;
}
.hd-p-15 {
  padding: 15px !important;
}
.hd-p-20 {
  padding: 20px !important;
}
.hd-p-25 {
  padding: 25px !important;
}
.hd-p-30 {
  padding: 30px !important;
}
.hd-p-40 {
  padding: 40px !important;
}
.hd-p-50 {
  padding: 50px !important;
}
.hd-pt-0 {
  padding-top: 0 !important;
}
.hd-pt-3 {
  padding-top: 3px !important;
}
.hd-pt-5 {
  padding-top: 5px !important;
}
.hd-pt-10 {
  padding-top: 10px !important;
}
.hd-pt-15 {
  padding-top: 15px !important;
}
.hd-pt-20 {
  padding-top: 20px !important;
}
.hd-pt-25 {
  padding-top: 25px !important;
}
.hd-pt-30 {
  padding-top: 30px !important;
}
.hd-pt-40 {
  padding-top: 40px !important;
}
.hd-pt-50 {
  padding-top: 50px !important;
}
.hd-pb-0 {
  padding-bottom: 0 !important;
}
.hd-pb-3 {
  padding-bottom: 3px !important;
}
.hd-pb-5 {
  padding-bottom: 5px !important;
}
.hd-pb-10 {
  padding-bottom: 10px !important;
}
.hd-pb-15 {
  padding-bottom: 15px !important;
}
.hd-pb-20 {
  padding-bottom: 20px !important;
}
.hd-pb-25 {
  padding-bottom: 25px !important;
}
.hd-pb-30 {
  padding-bottom: 30px !important;
}
.hd-pb-40 {
  padding-bottom: 40px !important;
}
.hd-pb-50 {
  padding-bottom: 50px !important;
}
.hd-pl-0 {
  padding-left: 0 !important;
}
.hd-pl-3 {
  padding-left: 3px !important;
}
.hd-pl-5 {
  padding-left: 5px !important;
}
.hd-pl-10 {
  padding-left: 10px !important;
}
.hd-pl-15 {
  padding-left: 15px !important;
}
.hd-pl-20 {
  padding-left: 20px !important;
}
.hd-pl-25 {
  padding-left: 25px !important;
}
.hd-pl-30 {
  padding-left: 30px !important;
}
.hd-pl-40 {
  padding-left: 40px !important;
}
.hd-pl-50 {
  padding-left: 50px !important;
}
.hd-pr-0 {
  padding-right: 0 !important;
}
.hd-pr-3 {
  padding-right: 3px !important;
}
.hd-pr-5 {
  padding-right: 5px !important;
}
.hd-pr-10 {
  padding-right: 10px !important;
}
.hd-pr-15 {
  padding-right: 15px !important;
}
.hd-pr-20 {
  padding-right: 20px !important;
}
.hd-pr-25 {
  padding-right: 25px !important;
}
.hd-pr-30 {
  padding-right: 30px !important;
}
.hd-pr-40 {
  padding-right: 40px !important;
}
.hd-pr-50 {
  padding-right: 50px !important;
}
.hd-pv-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.hd-pv-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.hd-pv-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.hd-pv-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.hd-pv-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.hd-pv-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.hd-pv-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.hd-pv-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.hd-ph-5 {
  padding-left: 5px !important;
  padding-bottom: 5px !important;
}
.hd-ph-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.hd-ph-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.hd-ph-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.hd-ph-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.hd-ph-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.hd-ph-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.hd-ph-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.hd-container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1270px;
}
.hd-wrapper {
  padding: 100px 0;
}
.hd-wrapper-t {
  padding-top: 100px;
}
.hd-wrapper-b {
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  .hd-wrapper {
    padding: 80px 0;
  }
  .hd-wrapper-t {
    padding-top: 80px;
  }
  .hd-wrapper-b {
    padding-bottom: 80px;
  }
}
@media (max-width: 782px) {
  .hd-wrapper {
    padding: 60px 0;
  }
  .hd-wrapper-t {
    padding-top: 60px;
  }
  .hd-wrapper-b {
    padding-bottom: 60px;
  }
}
.hd-no-bullet {
  list-style: none !important;
}
.hd-list-bare {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}
.hd-svg {
  display: block;
}

.hd-btn {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  width: fit-content;
  min-width: 150px;
  height: 40px;
  font-weight: 600 !important;
  fill: #FFF;
  color: #FFF;
  background-color: #0071F2;
  border-radius: 2px;
  border: 0;
}
.hd-btn[data-state=loading] {
  fill: transparent;
  color: transparent;
}
.hd-btn[data-state=loading] .hd-btn__loader {
  display: block;
}
.hd-btn--fit {
  min-width: 0;
}
.hd-btn--default {
  fill: #141B38;
  color: #141B38;
  background-color: #F3F4F5;
}
.hd-btn--default:hover, .hd-btn--default:focus, .hd-btn--default[data-state=active] {
  background-color: #E5E7E9 !important;
  transition: all 320ms ease-in-out 0s;
}
.hd-btn__detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hd-btn__icon {
  display: block;
  width: 16px;
  height: 16px;
}
.hd-btn__loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hd-btn:hover, .hd-btn:focus, .hd-btn[data-state=active] {
  background-color: #1A82EA;
  transition: all 320ms ease-in-out 0s;
}

a.hd-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 14px;
  color: #FFF;
}
a.hd-btn:hover, a.hd-btn:focus {
  color: #FFF;
}

.hd-btn-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  fill: #141B38;
  color: #141B38;
  background-color: #F0F0F0;
  border: 0;
}
.hd-btn-icon svg {
  width: 18px;
  height: 18px;
}
.hd-btn-icon[data-visibility=hidden] {
  display: none;
}
.hd-btn-icon[data-type=icon] {
  display: block;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  background-color: transparent;
}
.hd-btn-icon[data-type=icon] svg {
  width: 20px;
  height: 20px;
}
.hd-btn-icon[data-type=button]:hover, .hd-btn-icon[data-type=button]:focus, .hd-btn-icon[data-type=button][data-state=active] {
  background-color: #E5E7E9;
  transition: all 320ms ease-in-out 0s;
}
.hd-btn-icon[data-state=default] .hd-btn-nav__icon--active {
  display: none;
}
.hd-btn-icon[data-type=button][data-state=loading] .hd-loader {
  display: block;
}
.hd-btn-icon[data-type=button][data-state=loading] svg {
  display: none;
}
.hd-btn-icon[data-state=active] .hd-btn-nav__icon--default {
  display: none;
}
.hd-btn-icon--square {
  border-radius: 2px;
}
.hd-btn-icon--circle {
  border-radius: 100%;
}
.hd-btn-icon .hd-loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a.hd-btn-icon:hover, a.hd-btn-icon:focus {
  color: #141B38;
}

.hd-home {
  padding: 25px 20px;
}
.hd-home__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.hd-home__banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding: 20px;
  width: 100%;
  height: 420px;
  background-color: #E8F1FB;
  border-radius: 4px;
}
.hd-home__developer {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #0071F2;
}
.hd-home__developer a {
  font-size: 14px;
  color: #0071F2;
}
.hd-home__developer a:hover, .hd-home__developer a:focus {
  color: #034DA2;
}
.hd-home__title {
  margin-bottom: 10px !important;
  font-size: 80px;
  line-height: 96px;
}
.hd-home__description {
  width: 100%;
  max-width: 675px;
  font-size: 16px !important;
  line-height: 24px !important;
}
.hd-home-plugins {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.hd-home-plugin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  background-color: #FFF;
  border-radius: 2px;
}
.hd-home-plugin__header {
  margin-bottom: 20px;
}
.hd-home-plugin__header .hd-home-col {
  display: flex;
  gap: 15px;
}
.hd-home-plugin__content {
  margin-bottom: 40px;
}
.hd-home-plugin__icon {
  width: 80px;
  height: 80px;
  border-radius: 2px;
}
.hd-home-plugin__name {
  margin-bottom: 5px !important;
}
.hd-home-plugin__status {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hd-home-plugin__status[data-state=installed] {
  color: #228B22;
}
.hd-home-plugin__status[data-state=not-installed] {
  color: #525252;
}
.hd-home-plugin__status svg {
  width: 16px;
  height: 16px;
}
.hd-home-plugin__tools {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
}
.hd-home-plugin__tool {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #525252 !important;
}
.hd-home-plugin__tool:hover, .hd-home-plugin__tool:focus {
  color: #0071F2 !important;
}
.hd-home-plugin__tool span {
  font-weight: 600;
}
.hd-home-plugin__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 1040px) {
  .hd-home-plugins {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 680px) {
  .hd-home__title {
    font-size: 60px;
    line-height: 72px;
  }
}
@media (max-width: 550px) {
  .hd-home__banner {
    height: 360px;
  }
  .hd-home__title {
    font-size: 50px;
    line-height: 60px;
  }
  .hd-home-plugin__footer {
    align-items: flex-start;
    flex-direction: column;
  }
  .hd-home-plugin__footer .hd-btn {
    width: 100%;
  }
  .hd-home-plugin__actions {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .hd-home__title {
    font-size: 40px;
    line-height: 48px;
  }
}

/*# sourceMappingURL=hvsfw-home.css.map*/