// Home
.hd-home {
	padding: 25px 20px;

	&__container {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}

	&__banner {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 50px;
		padding: 20px;
		width: 100%;
		height: 420px;
		background-color: #E8F1FB;
		border-radius: $radius-1;
	}

	&__developer {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 1px;
		color: $color-blue-1;

		a {
			font-size: 14px;
			color: $color-blue-1;

			&:hover,
			&:focus {
				color: $color-blue-2;
			}
		}
	}

	&__title {
		margin-bottom: 10px !important;
		font-size: 80px;
		line-height: 96px;
	}

	&__description {
		width: 100%;
		max-width: 675px;
		font-size: 16px !important;
		line-height: 24px !important;
	}

	&-plugins {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;
	}

	&-plugin {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 25px;
		background-color: $color-white-1;
		border-radius: 2px;

		&__header {
			margin-bottom: 20px;

			.hd-home-col {
				display: flex;
				gap: 15px;
			}
		}

		&__content {
			margin-bottom: 40px;
		}

		&__icon {
			width: 80px;
			height: 80px;
			border-radius: 2px;
		}

		&__name {
			margin-bottom: 5px !important;
		}

		&__status {
			display: flex;
			align-items: center;
			gap: 5px;

			&[data-state="installed"] {
				color: #228B22;
			}

			&[data-state="not-installed"] {
				color: #525252;
			}

			svg {
				width: 16px;
				height: 16px;
			}
		}

		&__tools {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			column-gap: 10px;
			row-gap: 5px;
		}

		&__tool {
			display: flex;
			align-items: center;
			gap: 8px;
			color: #525252 !important;

			&:hover,
			&:focus {
				color: $color-blue-1 !important;
			}

			span {
				font-weight: 600;
			}
		}

		&__footer {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
		}
	}

	@media ( max-width: 1040px ) {

		&-plugins {
			grid-template-columns: 1fr;
		}
	}

	@media ( max-width: 680px ) {

		&__title {
			font-size: 60px;
			line-height: 72px;
		}
	}

	@media ( max-width: 550px ) {

		&__banner {
			height: 360px;
		}

		&__title {
			font-size: 50px;
			line-height: 60px;
		}

		&-plugin {

			&__footer {
				align-items: flex-start;
				flex-direction: column;

				.hd-btn {
					width: 100%;
				}
			}

			&__actions {
				width: 100%;
			}
		}
	}

	@media ( max-width: 450px ) {

		&__title {
			font-size: 40px;
			line-height: 48px;
		}
	}
}
