// Home
.hd-home {
	padding: 25px 20px;

	&__container {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}

	&__banner {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 50px;
		padding: 20px;
		width: 100%;
		height: 420px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Crect width='30' height='30' fill='%23E8F1FB'/%3E%3Ccircle cx='15.5' cy='15.5' r='2.5' fill='%23C0DCF9'/%3E%3C/svg%3E%0A");
		border-radius: $br-radius-1;
	}

	&__title {
		margin-bottom: 10px !important;
		font-size: 80px;
		line-height: 96px;
	}

	&__collections {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
		gap: 30px;
	}

	&__plugin {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		background-color: $clr-white-1;
		border-radius: $br-radius-1;
		border: 1px solid $clr-gray-4;

		&__body {
			display: flex;
			gap: 30px;
			padding: 24px;
		}

		&__footer {
			padding: 12px 24px;
			border-top: 1px solid $clr-gray-4;
		}

		&__icon {
			margin-bottom: 20px;
			width: 70px;
			height: auto;
			border-radius: $br-radius-1;

			img {
				border-radius: inherit;
			}
		}

		&__name {
			margin-bottom: 15px !important;
			font-size: 16px;
			line-height: 20px;
		}

		&__control {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.hd-btn {
			background-color: #1f1f1f;

			&:hover,
			&:focus {
				background-color: #2f2f2f;
			}
		}
	}

	&__developer {
		margin-top: 50px;
		padding: 24px;
		text-align: center;
		border-top: 1px solid $clr-gray-4;
	}

	@media ( max-width: 900px ) {

		&__collections {
			grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
		}
	}

	@media ( max-width: 680px ) {

		&__title {
			font-size: 60px;
			line-height: 72px;
		}
	}

	@media ( max-width: 550px ) {

		&__banner {
			height: 360px;
		}

		&__title {
			font-size: 50px;
			line-height: 60px;
		}
	}

	@media ( max-width: 450px ) {

		&__title {
			font-size: 40px;
			line-height: 48px;
		}

		&__collections {
			grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
		}

		&__plugin {

			&__icon {
				margin-bottom: 0;
			}

			&__body {
				flex-direction: column;
				gap: 15px;
			}
		}
	}
}
