// Import Export Tab
.hd-export-field {

	&__row {

		&--1 {
			padding-bottom: 15px;
			border-bottom: 1px solid $clr-gray-4;
		}

		&--2 {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(390px, 3fr));
			gap: 20px;
			margin-bottom: 15px;
			padding: 15px 0;
			border-bottom: 1px solid $clr-gray-4;
		}
	}
}
