.hbvf-srl {
    &__mb-15 {
        margin-bottom: 15px;
    }

    &__label {
        display: block;
        margin-bottom: calc(8px);
        font-size: 11px;
        font-weight: 500;
        line-height: 1.4;
        text-transform: uppercase;
    }

    &__search-input {
        width: 100%;
    }

    &__list {
        margin: 0;
        padding: 0;
        max-height: 200px;
        list-style: none;
        border: 1px solid #f0f0f0;
        overflow-y: auto;

        &__item {
            margin: 0;
            border-bottom: 1px solid #f0f0f0;

            &:last-child {
                border-bottom: 0;
            }

            &[state='active'] {
                label {
                    background-color: #f0f0f0;
                }
            }

            label {
                display: flex;
                align-items: center;
                padding: 10px 15px;
                font-size: 13px;
                color: #757575;

                &:hover,
                &:focus {
                    background-color: #f0f0f0;
                }

                input {
                    margin: 0 8px 0 0;
                }
            }
        }
    }

    &__placeholder {
        padding: 10px 15px;
        font-size: 13px;
        color: #757575;
        border: 1px solid #f0f0f0;
    }
}